<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="dark">
      Create new item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Count</ion-label>
      <ion-input formControlName="count" type="number"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="!form.valid" class="actionButton">Create item</ion-button>
    <ion-button color="light" expand="full" (click)="close()" class="actionButton">Cancel</ion-button>
  </form>


</ion-content>